<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
    <h1>Ticket Information Data</h1>
    <p>Hello {{ user.email }},</p>
    <p>Here is the ticket information for your flight:</p>

    {% for data in ticket_data %}
        <h2>Ticket Number - {{ data.ticket_number }}</h2>
        <p>First Name - {{ data.first_name }}</p>
        <p>Last Name - {{ data.last_name }} </p>
        <p>Gender - {{ data.gender }}</p>
        <p>Passport Number - {{ data.passport_number }} </p>
    {% endfor %}

    <br>
    <p>Thank you for using our AIR service.</p>
    <p>Best regards,</p>
    <p>Your AIR Team</p>
</body>
</html>
